<div class="container">
  
    <div class="ui-g">
            <div class="ui-g-3 ui-md-1 ui-lg-1 ui-xl-1">
                    <img  src="assets/img/{{pac.ie_SEXO}}.png" width="80">
            </div>
        <div class="ui-g-8 ui-g-nopad">
            <div  class="ui-g-12 t">{{pac.nm_paciente}}</div>
            <div *ngIf="pac.ie_SEXO==='M'" style="font-size: 12px;" class="ui-g-12"><label>Sexo: </label>Masculino</div>
            <div *ngIf="pac.ie_SEXO==='F'" style="font-size: 12px;" class="ui-g-12"><label>Sexo: </label>Feminino</div>
            <div style="font-size: 12px;" class="ui-g-12"><label>Setor:</label>{{pac.ds_SETOR_ATENDIMENTO}}</div>
            <div style="font-size: 12px;" class="ui-g-12"><label>Leito:</label>{{pac.cd_UNIDADE}}</div>
        </div>
        
    </div>
    <br>

    <h3 style="margin-left: 4px;">Abaixo exames realizados neste atendimento</h3>
    <div  class="ui-g">
        <div class="ui-g-12 uiui-fluid">
            <p-selectButton [options]="label" (onChange)="alteraFlash()" [(ngModel)]="tipo"></p-selectButton>
   </div>
  </div>




  <div class="ui-widget-header" style="padding:4px 5px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:5px 5px 0 0"></i>
    <input #gb type="text" pInputText size="20" placeholder="Filtrar">
</div>
  <p-dataTable #dt [value]="exames"  [responsive] ="true" [paginator]="true" [rows]="30"  [globalFilter]="gb" >
      

    <p-column field="dtExecucao" header="Data" bodyStyleClass=""  >
        <ng-template let-col let-ex="rowData" let-ri="rowIndex" pTemplate="body">
            <span  >{{ex.dtExecucao | datax : "L"}}</span>
           </ng-template>
    </p-column>
      <p-column field="nrPrescricao" header="Prescrição"></p-column>
      <p-column field="exame" header="Exame"></p-column>
      <p-column styleClass="col-acoesx">
        <ng-template let-lanc="rowData" pTemplate="body">
            <div style="margin-left: 20%" >
          <a pButton *ngIf="(lanc.tipo ==='1')" styleClass="axz"  icon="fa fa-picture-o" pTooltip="Imagem"
            tooltipPosition="top"
            (click)="play(lanc.acc)"
            style="background-color: #ffba01;
            border: 1px solid #ffba01;
            width: 35%;"
          
            ></a>
            <button  *ngIf="(lanc.nrlaudo ==='0')"  disabled="true" pButton type="button" icon="fa fa-file-pdf-o" (click)="consultaLaudo(lanc.nrlaudo)" style="background:#34A835; border: 1px solid #34A835; width: 35%;margin: 2px;"></button>
            <button  *ngIf="(lanc.nrlaudo !='0')"   pTooltip="Ver Laudo"
            tooltipPosition="top"  pButton type="button" icon="fa fa-file-pdf-o" (click)="consultaLaudo(lanc.nrlaudo)" style="background:#34A835; border: 1px solid #34A835; width: 35%;margin: 2px;"></button>
        </div>
        </ng-template>

    </p-column>

  </p-dataTable>












 

<!-- 



<p-dataTable [value]="exames"  [responsive] ="true" >

    <p-column field="dtExecucao" header="Data" bodyStyleClass=""  >
        <ng-template let-col let-ex="rowData" let-ri="rowIndex" pTemplate="body">
            <span  >{{ex.dtExecucao | datax : "L"}}</span>
           </ng-template>
    </p-column>
      <p-column field="nrPrescricao" header="Prescrição"></p-column>
      <p-column field="exame" header="Exame"></p-column>
      <p-column styleClass="col-acoesx">
        <ng-template let-lanc="rowData" pTemplate="body">
            <div style="margin-left: 20%">
          <a pButton styleClass="axz"  icon="fa fa-picture-o" pTooltip="Imagem"
            tooltipPosition="top"
            (click)="play(lanc.acc)"
            style="background-color: #ffba01;
            border: 1px solid #ffba01;
            width: 35%;"
           
            ></a>
            <button  *ngIf="(lanc.nrlaudo ==='0')"  disabled="true" pButton type="button" icon="fa fa-file-pdf-o" (click)="consultaLaudo(lanc.nrlaudo)" style="background:#34A835; border: 1px solid #34A835; width: 35%;margin: 2px;"></button>
            <button  *ngIf="(lanc.nrlaudo !='0')"   pButton type="button" icon="fa fa-file-pdf-o" (click)="consultaLaudo(lanc.nrlaudo)" style="background:#34A835; border: 1px solid #34A835; width: 35%;margin: 2px;"></button>
        </div>
        </ng-template>

    </p-column>

  </p-dataTable>

-->







</div>