<div class="container">

  <div><h1>CRM</h1></div>
  <div class="ui-g">
      <div class="ui-g-12 ui-fluid">


<div class="ui-g">
<div class="ui-g-12 ui-fluid">
<br>


    <p-dataTable [value]="comunicado"  [responsive] ="true"  >
        <p-header>Comunicações realizadas</p-header>
        <p-column field="data" header="Data">

        <ng-template let-col let-car="rowData" let-ri="rowIndex" pTemplate="body">
          <span>{{car.data | date: 'dd/MM/yyyy'}}</span>
      </ng-template>
    </p-column>
    <p-column field="usuarioOriginal.nome" header="Médico"></p-column>
        <p-column field="ds_status" header="Status"></p-column>
        <p-column styleClass="col-acoes">
            <ng-template let-lanc="rowData" pTemplate="body">
              <a pButton icon="fa fa-search-plus" pTooltip="Detalhar"
                tooltipPosition="top"
                [routerLink]="['/comunicacao', lanc.id]"></a>
            </ng-template>
        </p-column>


      </p-dataTable>


</div>

</div>

<div *ngIf="show">

<p-progressSpinner    [style]="{ width:'100px',
  height:'100px',  position:'absolute', top:'40%', left:'40%'}" fill="#EEEEEE" strokeWidth="4" animationDuration=".5s"></p-progressSpinner>
 </div>



</div>
