.divcard{
text-align: center;
font-size: 30px;
font-weight: bold;
}
@media (min-width: 100px){
.overview-box-content{
   padding-top: 40px;
    padding-left: 2px;
    position: absolute;
}
}
@media (min-width: 800px){
    .overview-box-content{
        padding-top: 0px;
        padding-left: 2px;
        position: absolute;
     }
}
.painel :hover{
    cursor: pointer;
}