<div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Centro Clínico</h1>
      </div>

      <div class="ui-g-12">
        <span>Acesso sistema de imagens</span>
      <a pButton  icon="fa fa-search-plus"
      href="http://200.180.131.52:8081/pesquisa/#/login" target="_blank" >
     </a>
    </div>


<div class="ui-g-12 ui-md-9" >
  <p-panel header="Modelo de Indicador"  >
<p-chart type="line" [data]="lineChartData"  generateLegend ="true"></p-chart>

</p-panel>
</div>



    

    </div>
  </div>